/* html, body {
    margin: 0;
    padding: 0;
}

#dropzone{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 0 auto;
    width: 80%;
}

.item {
    width: 200px;
    aspect-ratio: 1/1;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#fill {
    width: 80%;
    aspect-ratio: 1/1;
    background-color: black;
    position: absolute;
}

.hover {
    border: 4px dotted black;

}

*/
/* 
.hold {
    display: none;
} 


#dropzoneY {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 80%;
    position: relative;
    height: 80vh;
}

.itemY {
    width: 100%;
    background: hotpink;
    height: 50px;
    cursor: url('./customcursor1.svg'), ns-resize;
    position: absolute;

}

#dropContainer {
    height: 50vh;
    background-color: grey;
    position: relative;
}

#dropContainer .itemY {
    position: static;
}
  */

  body {
        height: 200vh;
  }


  #cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    padding: .5em 1em;
    border: 1px solid black;
    width: 100px;
    visibility: hidden;
    margin-left: 100px;
    transition: margin-left 0.2s ease-in-out;
  }

  .show {
    visibility: visible;
    margin-left: 0px;
  }


  #dialog {
    position: relative;

  }

  #dialog > #closeDialog {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    border: none;
    background-color: darkslategray;
    border-radius: 25%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem;
  }

  #dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #wrapper {
    display: flex;
    height: 200px;
  }

  #wrapper #box {
    background-color: red;
    width: 50%;
  }